<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=eventlinkdb;Initial Catalog=eventlinkdb;User ID=eventlinkadmin;Password=Pa$$w0rd;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>